# Elfa
ELFA_API_KEY=

# GRVT (default env: prod)
GRVT_API_KEY=
GRVT_PRIVATE_KEY=
GRVT_TRADING_ACCOUNT_ID=
GRVT_ENV=prod

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Receiver
REGISTRY_DB_PATH=./registry.db
